adapter_transformers==3.2.1.post0
auto_mix_prep==0.2.0
beautifulsoup4==4.12.3
einops==0.8.0
flash_attn==2.5.9.post1
langchain==0.2.5
langchain_chroma==0.1.1
langchain_community==0.2.5
langchain_core==0.2.9
langchain_experimental==0.0.61
langchain_openai==0.1.9
langchain_text_splitters==0.2.1
libs==0.0.10
neo4j==5.21.0
Pillow==9.5.0
Pillow==10.3.0
prompt_toolkit==3.0.45
py2neo==2021.2.4
pydantic==2.7.4
Requests==2.32.3
safetensors==0.4.3
sentencepiece==0.2.0
tencentcloud_sdk_python==3.0.1173
tokenizers==0.19.1
torch==2.0.1
tqdm==4.66.3
transformers==4.41.2
yfiles_jupyter_graphs==1.7.2
zhipuai==2.1.1.20240620.1
